---
import "@fontsource/fira-sans/400.css";
import "@fontsource/fira-sans/600.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Vinit Sarvade" />
    <meta name="description" content="Vinit Sarvade's Portfolio" />
    <meta name="keywords" content="Vinit Sarvade, Portfolio" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <title>Vinit Sarvade</title>
  </head>
  <body>
    <slot />
  </body>
</html>
